@media screen and (max-width: 991.98px) {
  /* HEADER */
  header {
    height: auto;
  }

  .navbar .navbar-brand {
    font-size: 30px;
  }

  .navbar {
    padding: 0;
  }

  .navbar .collapse {
    display: none;
    flex-direction: column;
  }
  .bar {
    display: block;
  }

  // .navbar .collapsed {
  //   display: none;
  // }

  .navbar .navbar-nav .nav-item {
    text-align: left;
  }

  // #navbar-content .nav-link::before {
  //   display: none;
  // }

  /* CAROUSEL */

  // .pcCarousel__banner {
  //   margin-top: 72px;
  // }
  // trang thông tin
  .realate_content {
    flex-direction: column;
    justify-content: center;
  }

  .realate_text {
    text-align: center;
    width: 100%;
  }
  .realate_img {
    width: 100%;
    // padding: 30px 0;
  }
  .sort {
    text-align: center;
  }
  .product_item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (max-width: 767.98px) {
  /* CAROUSEL  */

  .pcCarousel__banner {
    min-height: 580px;
  }

  .pcCarousel__banner--1 {
    background-position: center;
  }

  .pcCarousel__banner--2 {
    background-position: center;
  }
  .pcCarousel__banner--3 {
    background-position: center;
  }

  /* FOOTER */
  .footer__top {
    padding-bottom: 0;
  }

  .footer__item {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  /* CAROUSEL */
  .pcCarousel__banner {
    min-height: 500px;
  }
  .realate_text {
    padding-top: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 575.98px) {
  .product_item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  /* CAROUSEL */

  .pcCarousel__banner {
    min-height: 480px;
  }
}

@media screen and (max-width: 440px) {
  /* CAROUSEL */
  .pcCarousel__banner {
    min-height: 440px;
  }
}
